

  
  <app-navbar></app-navbar>







<router-outlet>
 <!--  <div class="outerclass"> 
    
    <div class="card crd" > 
        <div class="card-body crd">
            <h1>One Note App</h1>
            <br><br>
          
          <h3 class="card-text">Save Your Notes Here!!!</h3>
  
          <button  class="btn btn-dark btns"routerLink="/login" ><pre class="pre">Login </pre>   </button>
          <button  class="btn btn-dark btns" routerLink="/registration">Register</button>
  
          
        </div>
      </div>
  
  
  </div>
  -->

</router-outlet> 