*{
    background-color: rgb(238, 228, 197);
}

.outerclass{
    
    margin: 5%;
    padding: 10%;   
    box-shadow: 10px 10px  50px 10px rgb(99, 99, 117);
}

.btns{
    background-color: black;
    color: beige;
    margin: 10px;
    padding: 20px;
}

.crd{
    padding: 30px;
    margin: 2px solid black;
    align-self: center;
    background-color: rgb(238, 228, 197);
}

.pre{
    background-color: black;
    color: beige;
}
